body {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    color: black;
    padding: 0;
    margin: 0;
}

.logo {
    padding: 50px 0 10px;
    margin-bottom: 120px;
    text-align: center;
    background: #2d354c;
    position: relative;
}

.logo:after {
    content: "";
    position: absolute;
    width: 100vw;
    border-bottom: 65px solid transparent;
    border-left: 120vw solid #2d354c;
    left: 0;
}

h1 {
    text-transform: uppercase;
    font-weight: 300;
    color: white;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

ul {
    width: 33.33%;
    list-style: none;
    text-align: center;
    margin: 0 0 30px;
    padding: 0;
}

li {
    margin-bottom: 40px;
}

a {
    text-decoration: none;
    color: black;
    border-bottom: 1px dotted grey;
    padding-bottom: 10px;
}

a:hover {
    color: #32c3ff;
}

@media screen and (max-width:1199px) {
    ul {
        width: 50%;
    }
}

@media screen and (max-width:767px) {
    ul {
        width: 100%;
    }
}